{% extends '::base.html.twig' %}
{% block title %}Edit Breed{% endblock %}
{% block body -%}
    <div class="container center-block">
        <h2>Edit Breed</h2>
        <div class="row centered-form">
            <div class="panel-body">
                {{ form_start(edit_form) }}
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form_label(edit_form.name) }}
                            {{ form_widget(edit_form.name) }}
                        </div>
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="col-xs-6 col-sm-6 col-md-6">#}
                        {#<div class="form-group">#}
                            {#{{ form_label(edit_form.color) }}#}
                            {#{{ form_widget(edit_form.color, {'attr': {'class' : 'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-xs-6 col-sm-6 col-md-6">#}
                        {#<div class="form-group">#}
                            {#{{ form_label(edit_form.size) }}#}
                            {#{{ form_widget(edit_form.size, {'attr': {'class' : 'form-control'}}) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {{ form_row(edit_form.submit, {'attr':{'class' : 'btn btn-info'}}) }}
                {{ form_end(edit_form) }}
            </div>

        </div>
    </div>
{% endblock %}
