{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h2>Color list</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for color in entities %}
            <tr>
                <td>
                    <a href="{{ path('admin_color_show', { 'id': color.id }) }}">{{ color.id }}</a>
                </td>
                <td>{{ color.name }}</td>
                <td>
                    <a href="{{ path('admin_color_edit', { 'id': color.id }) }}" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a href="{{ path('admin_color_delete', { 'id': color.id }) }}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
